* {
  box-sizing: border-box;
}

.player {
  display: flex;
  /* grid-template-columns: 1fr 3fr; */
  flex: auto;
  flex-wrap: wrap;
  /* grid-column-gap: 1em; */
}

.progress {
  height: 5px;
  width: 100%;
  position: relative;
  left: 0;
}
