.event-date {
  position: relative;
  z-index: 1;
}

.event-date-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  padding: 0;
  margin: 0;
  background-size: cover;
  opacity: .6;
}
