.app {
  display: block;
  /* grid-template-rows: 50px 1fr 50px; */
  margin: 0;
  padding: 0;
  min-height: 100vh;
  position: relative;
  width: 100%;
  color: white;
}

.main {
  width: 100%;
  height: 100%;
}

.footer {
  position: relative;
  bottom: 0;
  background: transparent;
}

@media only screen and (min-width: 1024px) {
  .header {
    padding: 0 20px;
  }
}
